<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="com.dv.dao.meeting.PermissionMapper">
 	<!-- 查询权限信息 -->
 		<select id="findPermission" parameterType="com.dv.entity.meeting.Permission"
 			resultType="com.dv.entity.meeting.Permission">
 			select  a.*,b.user_name,b.real_name  from bt_permission as a join bt_user as b on a.user_id=b.user_id  where 1 = 1
	 		<if test="per_id !=null">
	 			and per_id=#{per_id}
	 		</if>
	 		<if test="per_type !=null">
	 			and per_type=#{per_type}
	 		</if>
	 		<if test="per_subtype !=null">
	 			and per_subtype=#{per_subtype}
	 		</if>
	 		<if test="user_id !=null">
	 			and a.user_id=#{user_id}
	 		</if>
	 		order by per_id asc
	 		<if test = "limit!=0">
			 	limit #{start},#{limit}
			</if>	
 		</select>
 		
 		
 		
 		
    <!-- 根据类型删除权限信息 -->
 	<delete id="delPermissionByType" parameterType="com.dv.entity.meeting.Permission">
 		delete from bt_permission  where per_type =#{per_type}
 	</delete>	
 	
 	<!-- 批量插入权限信息 -->
 	<insert id="batchAddPermission" parameterType="java.util.List">  
	    insert into bt_permission ( per_type, per_name,per_subtype,
	    user_id,savetime
	    ) 
	    values  
	    <foreach collection="list" item="item" index="index"  
	        separator=",">  
	        ( #{item.per_type}, #{item.per_name},#{item.per_subtype},
	        #{item.user_id},NOW()
	        )  
	    </foreach>  
    </insert>
    
 	<!-- 根据用户id集合删除权限信息 -->
 	<delete id="delPermissionByUserIds"  parameterType="java.util.List">
 		delete from bt_permission where user_id in
 		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
         #{item}
    </foreach>
</delete>
 </mapper>